<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.2.2/underscore.string.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.epoxy/1.3.1/backbone.epoxy.min.js"></script>
  <script type="text/javascript" src="mortgage-tool.js"></script>
</head>
<body>
  <div id="mortgage-tool">Hi</div>

  <script id="mortgage-tool-template" type="text/html">
    <div class="mortgage-tool-wrapper">
      <div class="row">
          <div class="columns">
            <h2 class="<%= showTitle ? '' : 'hidden' %>">Mortgages</h2>
              <h3>Financing your home?  We will get you the best rate!</h3>
          </div>
      </div>
      <div class="row">
        <form id="mortgage-calculator-form" data-abide="ajax" novalidate="novalidate">

          <div class="small-12 columns medium-6">
            <div class="row">
              <div class="small-12 columns">
                <span class="price-test">1</span>
                <label for="mortgage-price">Home Price</label>
                <div class="row collapse">
                  <div class="small-12 columns with-prefix">
                    <span class="mortgage-prefix">$</span>
                    <input type="text" name="mortgage-price" id="mortgage-price" value="<%= s.numberFormat(mortgage_price) %>"
                      placeholder="" class="changed-value" required data-abide-validator="mortgage-amount" autocomplete="off">
                    <small class="error"></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <div class="row collapse">
                  <span class="downpayment-test">1</span>
                  <label for="mortgage-downpayment">Down Payment</label>
                  <div class="small-12 columns">
                    <div class="row collapse">
                      <div>
                        <div class="small-8 columns with-prefix">
                          <span class="mortgage-prefix">$</span>
                          <input type="text" name="mortgage-downpayment" id="mortgage-downpayment" value="<%= s.numberFormat(mortgage_downpayment) %>"
                            placeholder="" class="changed-value" required data-abide-validator="mortgage-downpayment" autocomplete="off">
                          <small class="error"></small>
                        </div>
                        <div class="small-4 columns with-postfix">
                          <span class="mortgage-postfix">%</span>
                          <input type="text" name="mortgage-downpayment-percent" id="mortgage-downpayment-percent" value="<%= s.numberFormat(mortgage_downpayment_percent) %>"
                            placeholder="" class="changed-value" required data-abide-validator="mortgage-downpayment-percent" autocomplete="off">
                          <small class="error"></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-6 columns">
                <label for="mortgage-amortization">Amortization</label>
                <div class="row collapse">
                  <div class="small-12 columns with-large-postfix">
                    <span class="mortgage-postfix">years</span>
                    <input type="text" name="mortgage-amortization" id="mortgage-amortization" value="<%= s.numberFormat(mortgage_amortization) %>"
                      placeholder="" class="changed-value align-left" required data-abide-validator="mortgage-amortization" autocomplete="off">
                    <small class="error"></small>
                  </div>
                </div>
              </div>
              <div class="small-6 columns">
                <label for="mortgage-interest-percent">Interest Rate</label>
                <div class="row collapse">
                  <div class="small-12 columns with-postfix">
                    <span class="mortgage-postfix">%</span>
                    <input type="text" name="mortgage-interest-percent" id="mortgage-interest-percent" value="<%= s.numberFormat(mortgage_interest_percent, 2) %>"
                      placeholder="" class="changed-value" required data-abide-validator="mortgage-rate" autocomplete="off">
                    <small class="error"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row collapse payment-switch buttons" data-mortgage-selected-payment="<%= mortgage_payment_period %>">
              <label for="mortgage-payment">Payment</label>
              <button class="small-6 columns payment-option <%= mortgage_payment_period == 'bi-weekly' ? 'active' : '' %>" data-mortgage-payment-period="bi-weekly">
                  Bi-Weekly
              </button>
              <button class="small-6 columns payment-option <%= mortgage_payment_period == 'monthly' ? 'active' : '' %>" data-mortgage-payment-period="monthly">
                  Monthly
              </button>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <label for="mortgage-maintenance">Maintenance</label>
                <div class="row collapse">
                  <div class="small-12 columns with-prefix with-postfix">
                    <span class="mortgage-prefix">$</span>
                    <span class="mortgage-postfix">/month</span>
                    <input type="text" name="mortgage-maintenance" id="mortgage-maintenance" value="<%= s.numberFormat(mortgage_maintenance) %>"
                      placeholder="" class="changed-value" data-abide-validator="" autocomplete="off">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <span data-bind="text:mortgage_rental_income">1</span>
                <label for="mortgage-rental-income">Rental Income</label>
                <div class="row collapse">
                  <div class="small-8 columns with-prefix with-large-postfix">
                    <span class="mortgage-prefix">$</span>
                    <span class="mortgage-postfix">/month</span>
                    <input type="text" name="mortgage-rental-income" id="mortgage-rental-income" data-bind="value:mortgage_rental_income,events:['keyup']"
                      placeholder="" class="changed-value" data-abide-validator="" autocomplete="off">
                    <small class="error"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <input id="mortgage-include-taxes-insurance" <%= mortgage_include_taxes_insurance ? 'checked' : '' %> type="checkbox"><label for="mortgage-include-taxes-insurance">Add Taxes + Insurance</label>
              </div>
            </div>
            <div class="row <%= mortgage_include_taxes_insurance ? '' : 'hidden' %>">
              <div class="small-12 columns">
                <div class="row collapse">
                  <label for="mortgage-taxes">Property Taxes</label>
                  <div class="small-12 columns">
                    <div class="row collapse">
                      <div>
                        <div class="small-8 columns with-prefix with-large-postfix">
                          <span class="mortgage-prefix">$</span>
                          <span class="mortgage-postfix">/year</span>
                          <input type="text" name="mortgage-taxes" id="mortgage-taxes" value="<%= s.numberFormat(mortgage_taxes) %>"
                            placeholder="" class="changed-value" required data-abide-validator="mortgage-taxes" autocomplete="off">
                          <small class="error"></small>
                        </div>
                        <div class="small-4 columns with-postfix">
                          <span class="mortgage-postfix">%</span>
                          <input type="text" name="mortgage-tax-percent" id="mortgage-tax-percent" value="<%= s.numberFormat(mortgage_tax_percent, 2) %>"
                            placeholder="" class="changed-value" required data-abide-validator="mortgage-taxes-percent" autocomplete="off">
                          <small class="error"></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row <%= mortgage_include_taxes_insurance ? '' : 'hidden' %>">
              <div class="small-6 columns">
                <label for="mortgage-home-insurance">Home Insur.</label>
                <div class="row collapse">
                  <div class="small-12 columns with-prefix with-large-postfix">
                    <span class="mortgage-prefix">$</span>
                    <span class="mortgage-postfix">/year</span>
                    <input type="text" name="mortgage-home-insurance" id="mortgage-home-insurance" value="<%= s.numberFormat(mortgage_home_insurance) %>"
                      placeholder="" class="changed-value" data-abide-validator="" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="small-6 columns">
                <label for="mortgage-insurance">Mortgage Insur.</label>
                <div class="row collapse">
                  <div class="small-12 columns with-prefix with-large-postfix">
                    <span class="mortgage-prefix">$</span>
                    <span class="mortgage-postfix">/year</span>
                    <input type="text" name="mortgage-insurance" id="mortgage-insurance" value="<%= s.numberFormat(mortgage_insurance) %>"
                      placeholder="" class="changed-value" data-abide-validator="" autocomplete="off">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 columns medium-6">
            <div class="small-12 columns summary-container overview-container">
              <div class="h3">Overview</div>
              <div class="row overview-principle">
                <div class="small-6 columns summary-value">$ <%= s.numberFormat(mortgage_principle) %></div>
                <div class="small-6 columns summary-name">Principle</div>
              </div>
              <div class="row overview-interest">
                <div class="small-6 columns summary-value">+ $ <%= s.numberFormat(mortgage_interest_total) %></div>
                <div class="small-6 columns summary-name">Interest</div>
              </div>
              <div class="row overview-total">
                <div class="small-6 columns h3 summary-value">$ <%= s.numberFormat(mortgage_total) %></div>
                <div class="small-6 columns h3 summary-name">Total</div>
              </div>
            </div>
            <div class="small-12 columns summary-container payment-container">
              <div id="mortgage-payment-period" class="h3"><%= mortgage_payment_period %> Payments</div>
              <div class="row payment-principle">
                <div class="small-6 columns summary-value">$ <%= s.numberFormat(mortgage_principle_payment) %></div>
                <div class="small-6 columns summary-name">Principle</div>
              </div>
              <div class="row payment-interest">
                <div class="small-6 columns summary-value">+ $ <%= s.numberFormat(mortgage_interest_payment) %></div>
                <div class="small-6 columns summary-name">Interest</div>
              </div>
              <div class="row payment-maintenance">
                <div class="small-6 columns summary-value">+ $ <%= s.numberFormat(mortgage_maintenance_payment) %></div>
                <div class="small-6 columns summary-name">Maintenance</div>
              </div>
              <div class="row payment-taxes">
                <% if (mortgage_include_taxes_insurance) { %>
                  <div class="small-6 columns summary-value">+ $ <%= s.numberFormat(mortgage_taxes_payment) %></div>
                <% } else { %>
                  <div class="small-6 columns summary-value">
                    <label for="mortgage-include-taxes-insurance" class="summary-label">+ add</label>
                  </div>
                <% } %>
                <div class="small-6 columns summary-name">Taxes</div>
              </div>
              <div class="row payment-insurance">
                <% if (mortgage_include_taxes_insurance) { %>
                  <div class="small-6 columns summary-value">+ $ <%= s.numberFormat(mortgage_insurance_payment) %></div>
                <% } else { %>
                  <div class="small-6 columns summary-value">
                    <label for="mortgage-include-taxes-insurance" class="summary-label">+ add</label>
                  </div>
                <% } %>
                <div class="small-6 columns summary-name">Insurance</div>
              </div>
              <div class="row payment-rental">
                <div class="small-6 columns summary-value">- $ <%= s.numberFormat(mortgage_rental_income_payment) %></div>
                <div class="small-6 columns summary-name">Rental Income</div>
              </div>
              <div class="row payment-total">
                <div class="small-6 columns h3 summary-value"> $ <%= s.numberFormat(mortgage_payment_total) %></div>
                <div class="small-6 columns h3 summary-name">/ <%= mortgage_payment_period == 'monthly' ? 'month' : '2-weeks' %></div>
              </div>
            </div>
            <button class="small-12 columns button large" id="mortgage-refresh-payment">
              Calculate
            </button>
          </div>
        </form>
      </div>
    </div>
  </script>

</body>
</html>